.teams li {
  margin-bottom: 4px;
  padding: 4px;
}

.teams li:nth-child(2n) {
  /*display: flex;
  flex-direction: row;
  align-items: center;*/
  background: #eaeaea;
}

.quiz {
  margin-bottom: 1.5em;
  padding-left: 2em;
  li {
    padding-left: 0.3em;
    margin-bottom: 1em;
  }
  li.active {
    font-weight: 800;
  }
  p {
    color: #444;
    font-style: italic;
    font-size: 0.875em;
  }
}

.team__name {
  font-weight: bold;
}

.team__questions {
  display: flex;
  flex-direction: row;
}
.showAnswers .team__questions {
  flex-direction: column;
}

.team__question {
  height: 24px;
  width: 24px;
  overflow: hidden;
  text-indent: 32px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.showAnswers .team__question {
  width: auto;
}

.team__question--unanswered {
  background-image: url('./img/waiting.png');
}

.team__question--answered {
  background-image: url('./img/done.png');
}

.team__question--answered.team__question--correct {
  background-image: url('./img/right.png');
}

.team__question--answered.team__question--incorrect {
  background-image: url('./img/wrong.png');
}
